[Unit]
Description=DC Manager Service
After=syslog.target network.target mysqld.service openstack-keystone.service

[Service]
Type=simple
# TODO(Bart): What user?
User=root
ExecStart=/usr/bin/dcmanager-manager --config-file /etc/dcmanager/dcmanager.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
