[Unit]
Description=DC Manager Orchestrator Service
After=syslog-ng.service network-online.target dcmanager-manager.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/dcmanager-orchestrator --config-file /etc/dcmanager/dcmanager.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
