[Unit]
Description=DC Orchestrator Engine-worker Service
After=syslog.target network.target mysqld.service openstack-keystone.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/dcorch-engine-worker --config-file /etc/dcorch/dcorch.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
